@font-face {
    font-family: Reckless;
    src: url('/fonts/RecklessCondensedS-TRIAL-Book.woff');
}

@font-face {
    font-family: Figtree;
    src: url('/fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2');
}

@font-face {
    font-family: Midnight;
    src: url('/fonts/midnight-sans-rd-12-medium-trial.otf');
}
* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #FBF9EB;
    /* padding: 1vw; */
    /* position: relative; */
}

nav {
    width: 100%;
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    /* border-radius: 1vw; */
    font-family: Rockless;
    font-size: 0.8rem;
    position: sticky;
    /* top: 0;
    left:0;
    z-index:999; */

}

nav i {
    font-size: 2rem;
    width: 33%;
}

/*Jyare pan responsive karo to margin ne avoid karo*/
nav .nav-part-1 {
    display: flex;
    gap: 1rem;
    width: 33%;
    display: none;
    /* font-size: 1rem;
    font-weight:100;
    font-family:Reckless; */
}

.nav-part-1 h3 {
    font-weight: 300;
}

nav .nav-part-2 {
    width: 20%;
    height: auto;
    display: flex;
}

.nav-part-2 img {
    width: 100%;
    object-fit: cover;
}

.nav-part-3 {
    display: flex;
    width: 30%;
    gap: 2rem;
    align-items: center;
    justify-content: end;
}

.nav-part-3 h3 {
    font-weight: 300;
    display: none;
}

.nav-part-3 svg {
    width: 30px;
    height: 30px;
}

#section-1 {
    width: 100%;
    height: 85vh;
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/AlpineBerry_mobile.webp?v=1774284087&width=720);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 3rem 0.5rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
    border-bottom: 1px solid #000;

}

#section-1 h1 {
    font-size: clamp(3.5rem, 5vw, 5rem);
    font-family: Reckless;
    color: white;
    font-weight: 500;
    /* text-align: center; */
}

#section-1 p {
    font-size: clamp(1.2rem, 1vw, 1rem);
    font-family: Figtree;
    font-weight: 400;
    /* text-align: center; */
    color: white;
}

#section-1 button {
    /* width: 90%; */
    padding: 1.2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    font-size: 1.1rem;
}

#section-2{
    width:100%;
    height:100vh;
    padding:8rem 1rem;
}
#section-2 .section2-text{
    width:100%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Reckless;
}
.section2-text h1{
    font-size:clamp(2rem,5vw,4rem);
    font-weight:300;
    width:80%;
    /* text-align: center; */
}
.section-2>button{
    padding:0.2rem 0.5rem;
    font-size:3rem;
    font-family:Midnight;
    font-weight:600;
    background-color:#DAAEEA;
    border-radius:1.2rem;
    text-transform:uppercase;
    margin-top:5rem;
    rotate:-5deg;
    letter-spacing: 2px;
}
#section-2 .card-container{
    width:100%;
    padding: 2rem 0;
    display:flex;
    overflow-x:hidden;
}
.card-container::-webkit-scrollbar{
    display:none;
}
.card{
    display:flex;
    flex-direction:column;
    gap:1rem;
    flex-shrink:0;
}
.card-top{
 width:90%;
 height:35vh;
 background-color:#C1EE91;
 position: relative;
 padding:1rem;
 display:flex;
 flex-direction:column;
 align-items:end;
 justify-content:space-between;
 border-radius: 1rem;
 border:1px solid #000;
 overflow:hidden;
}
.card-top-text{
    width:100%;
    display:flex;
    align-items:end;
    justify-content:space-between;
}
.card-top-text button{
    padding:0.2rem 0.5rem;
    border-radius:0.2rem;
    border:1px solid #000;
    background-color:#fff;
    font-family:Midnight;
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:400;
}
.card-top-text span{
    font-size: 1.2rem;
     font-family:Reckless;
}
.card-top img{
    width:90%;
    height:90%;
    object-fit:cover;
    object-position:center;
    position: absolute;
    transition: all ease 0.3s;

}
.card-btm-text{
    background-color:#fff;
    padding:0.8rem 0.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius: 0.3rem;
    font-family:Reckless;
    font-size:1.2rem;
}
.card-top:hover img{
    scale:1.1;
}
.card-btm{
    display:flex;
    flex-direction:column;
    gap:0.8rem;
    font-family:Reckless;
    align-items:start;

}
.card-btm h3{
    font-size:0.3rem;
    font-weight:100;
}
.card-btm p{
    font-weight:100;
    opacity:0.5;
    color:#727070;
    width:90%;
}
.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btm-btn{
    
   padding: 1.2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    font-size: 1.1rem;
    
}
@media (min-width:768px) {}

@media (min-width:1024px) {
    nav {
        width: 100%;
        background-color: #FFFEFB;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        /* border-radius: 1vw; */
        font-family: Rockless;
        font-size: 0.8rem;
        position: sticky;
        /* top: 0;
    left:0;
    z-index:999; */

    }

    nav .nav-part-1 {
        display: flex;
        gap: 1rem;
        width: 30%;
    }

    nav i {
        display: none;
    }

    .nav-part-1 h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    nav .nav-part-2 {
        width: 5%;
        display: flex;
    }

    .nav-part-3 {
        display: flex;
        width: 40%;
        gap: 1rem;
        justify-content: end;
        align-items: end;
    }

    .nav-part-3 h3 {
        font-weight: 300;
        display: block;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    #section-1 h1 {
        width: 100% !important;
        text-align: start;
    }

    #section-1 button {
        width: 10%;
    }

    #section-1 {
        width: 100%;
        text-align: start;
        padding: 3rem 2rem;
        background-image: url(https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=2250.0);
        background-size: cover;
        background-position: center;
    }

    #section-1 h1 {
        width: 20%;
    }

    #section-1 p {
        width: 20%;
    }

    #section-1 button {
        width: fit-content;
        padding: 1rem 4rem;
        border-radius: 1.2rem;
    }
    #section-2  .btn-1{
   display: none;
}
.section2-text h1{
    width: 50%;
  
}
.card-container{
    margin-top: 8rem;
}
}